# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
mvnw
mvnw.*
HELP.*
/.idea/*
*/target/
*.project
*.classpath
*.settings
*.mvn
.project

# Project exclude paths
/target/